.main {
  display: flex;
  gap: 50px;
  align-items: center;
}

.imgWrapper {
  height: 180px;
  width: 180px;
  flex-shrink: 0;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 800;
  font-size: 54px;
}

.subtitle {
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
